

{{> head}}


    {{> navbar }}

<div class="jumbotron">
    <h1 class="display-4"> Hola, {{ capitalizar nombre }}</h1>
    <p class="lead">This is a lead</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem eaque autem similique laboriosam aut doloremque numquam eum natus eveniet delectus repellat iste aliquam doloribus, aspernatur assumenda culpa mollitia ratione aliquid.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button"> Dale laik</a>
    </p>
</div>
    

{{> footer}}

    